<template>
    <main>
        <h1>http interceptor issue!!!</h1>
        <p> checkout console. you'll find there consoled config object with Bearer thisIsMyTokenForExample header present</p>
        <p> then checkout network tab refresh and click this one call which is 404, scroll down to <strong> request headers </strong> section.
        <p> you'll not find this header there. <strong>WHY?!</strong></p>
    </main>
</template>
<script>
// I'll do example axios call here to endpoint that i found in google first link
import axios from 'axios';

export default {
    data () {
        return {
            records: []
        }
    },
    async created(){
        try {
            //NOTE:
            //This will be 404 but it doesn't matter
            //We will see config object in console with 'Bearer thisIsMyTokenForExample'
            //And we will not see this header in network tab when we chose this call (the one with 404);
            // at the bottom (REQUEST HEADERS)
            const response = await axios.get('http://someURL');
            this.records = response.data;
        } catch (e) {
            console.log(e);
        }
    }
}
</script>
<style scoped>

</style>
